---
layout: default
title: About Us
permalink: /about/
order: 1
navbar_desc: Learn who we are
---


<section id="aboutUs" class="container">
    <div class="row animated bounceIn">
        <h1 class="text-center"> About Us </h1>
        <div class="col-md-4 text-center stats">
            <i class="fa fa-3x fa-black-tie"></i>
            <div class="upstudents">8</div>
            Execitives
        </div>
        <div class="col-md-4 text-center stats">
            <i class="fa fa-3x fa-users"></i>
            <div class="upstudents">4</div>
            Departament Representatives
        </div>
        <div class="col-md-4 text-center stats">
            <i class="fa fa-3x fa-users"></i>
            <div class="upstudents">4</div>
            Independent Respresentatives
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12 text-center"><h2> Executives </h2></div>
        <!-- Loop through Execs data -->
        {% for exec in site.data.execs.executives %}
            <!-- when the count reaches multiples of 4 row -->
            {% assign mod = forloop.index0 | modulo:4 %}
            {% if mod == 0 %}
                </div>
                <div class="row">
            {% endif %}
            <div class="exec col-md-3 animated zoomInUp">
                <img src="{{site.url}}/{{exec.imageUrl}}" alt="" class="exec-picture"/>
                <span class="name-title">{{exec.name}}</span class="name-title">
                <strong>{{exec.position}}</strong>
                <span>{{exec.email}}</span>
            </div>
            
        {% endfor %}
    </div>
    <hr/>
    <div class="row">
            <div class="col-md-12 text-center"><h2> Representatives </h2></div>
            <!-- Loop through Reps data -->
            {% for rep in site.data.execs.representaves %}
                {% assign mod = forloop.index0 | modulo:4 %}
                {% if mod == 0 %}
                    </div>
                    <div class="row">
                {% endif %}
                <div class="exec col-md-3">
                    <span class="name-title">{{rep.name}}</span class="name-title">
                    <strong>{{rep.position}}</strong>
                </div>

            {%endfor%}

        </div>
    </div>
</section>