<footer class="site-footer">
  <div class="container">
        <center>
          <a href="https://facebook.com/{{ site.facebook_username }}" title="{{ site.facebook_username }}"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="https://twitter.com/{{ site.twitter_username }}" title="{{ site.twitter_username }}"><i class="fa fa-twitter-square fa-2x"></i></a>
          <a href="https://instagram.com/{{ site.instagram_username }}" title="{{ site.instagram_username }}"><i class="fa fa-instagram fa-2x"></i></a>
        </center>

    <div class="row"> <!-- start .ROW -->

      <div class="col-md-5">
        <h3>Get in touch:</h3>
          {% if site.contact_email %}
            <b>Email:</b> {{ site.contact_email }}
            <br>
          {% endif %}

          {% if site.contact_phone %}
            <b>Phone:</b> {{ site.contact_phone }}
            <br>
          {% endif %}

          {% if site.contact_address %}
            <b>Mailing address</b><br>
            <p>{{ site.contact_address }}</p>
          {% endif %}
      </div>

      <div class="col-md-7">
        <h3>Locations:</h3>
        <div class="row">
          <div class="col-md-6">
            <b>ECA Office</b><br>
            <a href="https://www.google.ca/maps/place/Engineering+and+Computer+Science+Association+(ECA)+Concordia/@45.497364,-73.579103,17z/data=!3m1!4b1!4m2!3m1!1s0x4cc91a6a86f2c2d3:0xb41901b79e2b39fe"><i class="fa fa-map-marker"></i> H-838</a><br>
            1455 de Maisonneuve Blvd. West<br>
            Monday through Friday<br>
            10:00 - 12:00<br>
            12:30 - 16:00
          </div>
          <div class="col-md-6">
            <b>B-Annex Lounge</b><br>
            <a href="https://www.google.ca/maps/place/2160+Rue+Bishop,+Montr%C3%A9al,+QC+H3G+2E9/@45.4972123,-73.578618,17z/data=!4m2!3m1!1s0x4cc91a6a9d7a1577:0xc616f8b12f379d48"><i class="fa fa-map-marker"></i> B-104</a><br>
            2160 Bishop St.<br>
            Monday through Friday<br>
            10:00 - 17:00
          </div>
        </div>
      </div>

    </div> <!-- end .ROW -->

    <div> <!-- start .ROW -->
      <center><small>Find source on <a href="//github.com/ECAConcordia/ecaconcordia.ca">Github</a>.</small></center>
    </div> <!-- end .ROW -->

  </div>
</footer>
